/* Força da senha */
.pwd-strength {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.25rem;
}

.pwd-strength .pwd-weak,
.pwd-strength .pwd-so-so,
.pwd-strength .pwd-good {
  height: 0.5rem;
  border-radius: 9999px;
  background: #d8d8d8;
}

.pwd-strength.pwd-strength--weak .pwd-weak {
  background: red;
}

.pwd-strength.pwd-strength--so-so .pwd-weak,
.pwd-strength.pwd-strength--so-so .pwd-so-so {
  background: yellow;
}

.pwd-strength.pwd-strength--good .pwd-weak,
.pwd-strength.pwd-strength--good .pwd-so-so,
.pwd-strength.pwd-strength--good .pwd-good {
  background: greenyellow;
}
